.daypointer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.daypointer h4 {
    font-weight: normal;
    border-bottom: solid;
    border-width: thin;
}

.daypointer span {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em
}

.daypointer button {
    border:none;
    background: none;
    font-weight: bold;
    border-radius: 0;
    margin: 0;
}

.daypointer button.selectedDay {
    border-bottom: solid;
}

.timepointer {
    display: flex;
    margin-bottom: 1em;
    flex-direction: column;
}

.timepointer h4 {
    font-weight: normal;
    border-bottom: solid;
    border-width: thin;
}

.timepointer span {
    margin-top: 0.5em;
}

.timepointer span > span {
    margin-right: 1em;
}

.timepointer input[type=text] {
    width: unset;
    border:none;
    background:none;
    border-bottom: dotted;
    border-radius: 0;
    border-width: thin;
}

.timepointer input[type=text]::placeholder {
    color: inherit;
    opacity: 1;
}

.timepointer label {
    font-size: medium;
    font-weight: bold;
    margin-right: 0.5em;
}

.stagedTime {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.stagedTime h4 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    border-bottom: solid;
    border-width: thin;   
}

.stagedTime p {
    padding: 0;
}

.stagedTime > span {
    display: flex;
    flex-direction: column;
    
}

.stagedTime > span > span {
    display: flex;
    align-items: baseline;
    margin-top: 0.5em;
}

.stagedTime > span > span > button {
    padding-left: 1em;
    font-weight: bold;
}

.stagedTime > span > span > i {
    padding-right: 0.5em;
}

.stagedTime > span > span:nth-child(1) > label {
    flex-grow: 1;
}

.timepublishData {
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.timepublishData ul {
    overflow-y: scroll;
}

.timepublishData > ul > li {
    display: flex;
    margin-bottom: 0.5em;
    align-items: baseline;
}

.timepublishData > ul > li > label {
    flex-grow: 1;
    padding: 0 0 0 0.5em;
}

.timepublishData > ul > li > button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.timepublishData > span {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5em;
    border-bottom: solid;
    border-width: thin;
}

.timepublishData > span > h3 {
    margin-left: 0.5em;
    padding: 0;
}

.timepublishData > span > button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.conflictingTimes {
    display:flex;
    align-items: baseline;
}

.conflictingTimes > b {
    padding-left: 0.5em;
}