body {
    padding: 0;
    margin: 0;
    line-height: 1.4;
  }
  
  iframe {
    border:0;
  }
  
  p, fieldset {
    margin: 0;
    padding: 0 0 1em 0;
    border: none;
  }
  
  ul {
    margin:0;
    padding:0;
    list-style: none;
  }
  
  li a {
    display: block;
    padding: 1em;
    margin: 0 0 1em 0;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
  }
  
  p:last-child {
    padding: 0;
  }
  
  h1, h2, h3, form {
    padding:0;
    margin:0;
  }
  
  label {
    font-size: small;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .formlink {
      display: inline;
  }

  .formlink button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font-weight: bold;
    color: inherit;
  }

  .formlink button:hover {
    text-decoration: underline;
  }
  
  hr {
    margin: 1em 0 1em 0;
    border-style: solid;
    border-width: thin;
  }
  
  .forminput {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }

  fieldset > div.forminput {
      padding-bottom: 0;
  }
  
  .forminput span {
    font-size: small;
    font-style: italic;
    align-self: flex-end;
    height: 1em;
  }

  .forminput span.pass {
      visibility: hidden;
  }
  
  button {
    border: solid;
    border-width: thin;
    font-size: 1em;
    margin-left: 1em;
    padding: 0.5em;
    border-radius: 5px;
    color: inherit;
  }

  button:disabled {
      opacity: 50%;
  }
  
  input[type=text], input[type=password], input[type=email] {
    height: 2em;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: darkcyan;
    width: 100%;
    font-size: 1em;
    color: darkcyan;
    padding: 0 0 0 0.5em;
    box-sizing: border-box;
  }
  
  input[type=checkbox] {
    zoom: 1.5;
  }
  
  input:focus, button:focus, a:focus {
    outline-color: darkcyan;
  }
  
  .rememberme {
    display: flex;
    align-items: center;
  }
  
  .root-view {
    background-color: gainsboro;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .formbuttons {
    display: flex;
    justify-content: flex-end;
  }
  
  @media screen and (min-width: 600px) {
    .root-view {
        background-color: gainsboro;
        height: 100vh;
        width: 550px;
        margin-top:0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
    }    
  }
  .content {
    padding: 1em;
  }
  
  .heavy {
    background-color: darkcyan;
    color: lightcyan;
    border-color: darkcyan;
  }
  
  .light {
    background-color: lightcyan;
    color: darkcyan;
    border-color: darkcyan;
  }

.navlink {
  display: block;
  border: solid;
  border-width: thin;
  padding: 1em;
  border-radius: 8px;
}

a.navlink:hover {
    text-decoration: none;
}

.navlink p {
    font-weight: normal;
}

/* body {
    padding: 0;
    margin: 0;
}

a, p {
    text-decoration: none;
    margin: 0;
}


.inline {
    display: inline;
}

.heavy-bkg {
    background-color: darkcyan;
}

.light-bkg {
    background-color: lightcyan;
}

.light-sep {
    border-bottom-width: 1px;
    border-color: gainsboro;
    border-bottom-style: dotted;
}

.main-txt-col {
    color: darkcyan;
}

.alt-txt-col {
    color: lightcyan;
}

.pt-1em {
    padding-top:1em;
}

.pb-1em {
    padding-bottom: 1em;
}

.pt-b-2em {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.h3em {
    height: 3em;
}

.large-text {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.small-text {
    font-family: sans-serif;
    font-size: 1em;
    
}

.inline {
    display: inline;
}

.small-text a {
    font-weight: bold;
    text-decoration: underline;
}

.small-text b {
    font-weight: bold;
}

.root-view {
    background-color: steelblue;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .root-view {
        background-color: gainsboro;
        height: 100vh;
        width: 550px;
        margin-top:0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }    
}

.topview {
    background-color: darkcyan;
    padding: 1em;
}

.logoutTrigger {
    padding: 0;
}

.logoutTrigger button {
    background: none;
    border: none;
    font-size: 1em;
    padding: 0;
    font-weight: bold;
    text-decoration: underline;
}

.routeLink {
    width: 100%;
    height:100%;
    display: block;
}

.root-view div, form {
    width: 100%;
    box-sizing: border-box;
}

.hostNameSubmission {
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.hostnameSubmissionFail {
    padding: 1em;
    font-family: sans-serif;
    font-size: smaller;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}

.hostNameSubmission div {
    padding: 0;
}

.hostNameSubmission label {
    font-family: sans-serif;
    font-size: small;
}

.hostNameSubmission h3, h4 {
    padding: 0;
    margin-top: 1em;
    margin-bottom: 0;
}

.hostNameSubmission input {
    height: 2em;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: darkcyan;
    width: 100%;
    font-size: 1em;
    color: darkcyan;
    padding: 0 0 0 0.5em;
    box-sizing: border-box;
}

.hostNameSubmission ul {
    padding: 0;
    margin-top: 1em;
    font-size: small;
    margin-top: 0.5em;
    list-style: none;
}

.hostNameSubmission ul li {
    font-family: sans-serif;
}

.invalid {
    opacity: 1;
}

.valid {
    opacity: 0.5;
}

.hostNameSubmission button {
    background: none;
    float: right;
    background-color: darkcyan;
    border: none;
    color: lightcyan;
    border-radius: 5px;
    font-size: inherit;
    outline: none;
    margin-top: 1em;
    padding: 10px;
}

.hostNameSubmission button[disabled] {
    opacity: 0.2;
}

.notFoundView {
    padding: 1em;
    background-color: lightcyan;
    color: darkcyan;
    font-family: sans-serif;
}

.notFoundView h3, p {
    margin: 0;
    padding: 0;
}

.addTimesLink {
    padding: 1em;
    background-color: lightcyan;
    color: darkcyan;
    font-family: sans-serif;
}

.addTimesLink h3, p {
    margin: 0;
    padding: 0;
}

.hostsfilter {
    font-family: sans-serif;
    color: steelblue;
    display: grid;
    grid-template-columns: auto 2em;
    grid-column-gap: 1em;
}

.hostsfilter label {
    font-size: 1em;
    font-size: 1em;
    grid-column: 1 / span 2;
}

.hostsfilter button {
    background: none;
    width: 100%;
    height: 100%;
    background-color: steelblue;
    border: none;
    color: aliceblue;
    border-radius: 50%;
    font-size: inherit;
    outline: none;
}



.hostlist {
    overflow: scroll;
}

#scrollArea {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1em;
}

.hostlist dl {
    margin: 0;
}

.hostlist dt {
    display: none;
}

.hosthandle {
    font-family: sans-serif;
    font-family: sans-serif;
    margin: 0;
    color: steelblue;
}

.hostname {
    font-family: sans-serif;
    margin: 0;
    color: steelblue;
    font-size: 2em;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hostlistAction {
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: aliceblue;
}

.error {
    background-color: aliceblue;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: sans-serif;
    color: steelblue;
}

.error i {
    float: left;
    padding-right: 0.5em;
}

.error h4 {
    margin:0;
}

.error a {
    text-decoration: underline;
}

.light-button {
    font-family: sans-serif;
    background: none;
    color: steelblue;
    border-color: steelblue;
    height: 2em;
}

#loading {
    width: 1em;
    height: 1em;
    padding:0;
    border: 2px solid gainsboro;
    border-radius: 50%;
    border-top-color: steelblue;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  } */