body {
    padding: 0;
    margin: 0;
}

a, p {
    text-decoration: none;
    margin: 0;
}

.inline {
    display: inline;
}

.heavy-bkg {
    background-color: darkcyan;
}

.light-bkg {
    background-color: lightcyan;
}

.light-sep {
    border-bottom-width: 1px;
    border-color: gainsboro;
    border-bottom-style: dotted;
}

.main-txt-col {
    color: darkcyan;
}

.alt-txt-col {
    color: lightcyan;
}

.pt-1em {
    padding-top:1em;
}

.pt-b-05em {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.pt-b-2em {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.h3em {
    height: 3em;
}

.large-text {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.small-text {
    font-family: sans-serif;
    font-size: 1em;
    display: inline;
}

.small-text a {
    font-weight: bold;
    text-decoration: underline;
}

.small-text b {
    font-weight: bold;
}

.root-view {
    background-color: steelblue;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .root-view {
        background-color: gainsboro;
        height: 100vh;
        width: 550px;
        margin-top:0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }    
}

/* .logoutTrigger {
    float: right;
} */

.logoutTrigger button {
    background: none;
    border: none;
    font-size: 1em;
    color: lightcyan;
    padding: 0;
    font-weight: bold;
    text-decoration: underline;
}

.routeLink {
    width: 100%;
    height:100%;
    display: block;
}

.root-view div {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    box-sizing: border-box;
}

.hostsfilter {
    font-family: sans-serif;
    color: steelblue;
    display: grid;
    grid-template-columns: auto 2em;
    grid-column-gap: 1em;
}

.hostsfilter label {
    font-size: 1em;
    font-size: 1em;
    grid-column: 1 / span 2;
}

.hostsfilter button {
    background: none;
    width: 100%;
    height: 100%;
    background-color: steelblue;
    border: none;
    color: aliceblue;
    border-radius: 50%;
    font-size: inherit;
    outline: none;
}

.hostsfilter input {
    height: 2em;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: steelblue;
    width: 100%;
    font-size: 1em;
    color: steelblue;
    padding-left: 0.5em;
}

.hostlist {
    overflow: scroll;
}

#scrollArea {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1em;
}

.hostlist dl {
    margin: 0;
}

.hostlist dt {
    display: none;
}

.hosthandle {
    font-family: sans-serif;
    font-family: sans-serif;
    margin: 0;
    color: steelblue;
}

.hostname {
    font-family: sans-serif;
    margin: 0;
    color: steelblue;
    font-size: 2em;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hostlistAction {
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: aliceblue;
}

.error {
    background-color: aliceblue;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: sans-serif;
    color: steelblue;
}

.error i {
    float: left;
    padding-right: 0.5em;
}

.error h4 {
    margin:0;
}

.error a {
    text-decoration: underline;
}

.light-button {
    font-family: sans-serif;
    background: none;
    color: steelblue;
    border-color: steelblue;
    height: 2em;
}

#loading {
    width: 1em;
    height: 1em;
    padding:0;
    border: 2px solid gainsboro;
    border-radius: 50%;
    border-top-color: steelblue;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }