.addTime {
    display:flex;
    align-items: baseline;
    padding-bottom: 1em;
}

.addTime > p {
    padding: 0;
    margin: 0 1em 0 1em;
}

.addTime > p:first-child {
    margin: 0 1em 0 0;
}

.addTime > input[type=number] {
    width:4em;
}

.timeHeader {
  display: flex;
  align-items: center;
  font-size: large;
}

.timeHeader > h2 {
  padding-left: 0.5em;
}

.warning {
    padding: 1em 0 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    margin-top: 1em;
}

#timefetcherror {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0 0 0;
}

#timefetcherror a {
    display: inline;
    padding: 0;
    border: none;  
}

#loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1em;
    height: 1em;
    padding:0;
    border: 2px solid lightcyan;
    border-radius: 50%;
    border-top-color: darkcyan;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }

  .timelisting > li {
    display: flex;
    align-items: baseline;
    padding-bottom: 0.5em;
  }

  .timelisting > li > i {
    padding-right: 1em;
  }

  .timelisting > li > p {
    flex-grow: 1;
    padding:0;
  }

  .timelisting > li > button {
    padding: 0.25em;
    margin-left: 0.5em;
  }

  .timelisting > li > a {
    margin: 0;
    padding: 0.25em;
    font-weight: normal;
    border: none;
  }

  .submissionPending {
    opacity: 0.5;
  }

  .loadfailed {
    border: solid thin;
    margin-bottom: 1em;
    border-radius: 5px;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loadfailed > i {
    font-size: 2em;
    padding: 0.5em;
  }