.weekstepper {
    display: flex;
    padding-bottom: 1em;
    align-items: baseline;
}

.daystepper {
    display: flex;
    justify-content: space-between;
}

.daystepper button {
    margin: 0;
    flex-grow: 1;
    border: none;
    border-right: solid;
    border-width: thin;
    border-radius: 0;
}

.daystepper button:last-child {
    margin: 0;
    flex-grow: 1;
    border: none;
    border-right: none;
    border-radius: 0;
}
