body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: sans-serif;
    color: darkseagreen;
}

p, a {
    font-family: sans-serif;
    color: khaki;
}

.signup-page {
    display: grid;
    grid-template-columns: auto 30em auto;
    height: 100vh;
    background-color: darkseagreen;
}

.content {
    grid-column-start: 2;
    padding-left: 2em;
    background-color: darkslategray;
    padding-right: 2em;
}